In [7]:
import pandas as pd
from pathlib import Path

In [8]:
basepath = Path('../scripts/results/')

# Diameter at breast height (d)

In [9]:
d_ann_val = pd.read_csv(basepath/'d/ann_val.csv')
d_ann_test = pd.read_csv(basepath/'d/ann_test.csv')

In [10]:
d_ann_val

   model_identifier   _rmse   _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  2.5870  14.0613  0.0176     0.0955  1.9086    0.7916
1               0.0  2.6110  14.1915 -0.0751    -0.4081  1.9173    0.7877
2               1.0  2.6504  14.4055  0.0779     0.4233  1.9629    0.7813
3               2.0  2.7073  14.7149 -0.1778    -0.9662  2.0081    0.7718
4               3.0  2.6608  14.4620  0.0708     0.3850  2.0098    0.7796
5               4.0  2.7009  14.6800  0.0593     0.3222  1.9962    0.7729
6               5.0  2.6276  14.2817 -0.0060    -0.0327  1.9537    0.7850
7               6.0  2.6930  14.6370  0.1351     0.7346  2.0106    0.7742
8               7.0  2.6451  14.3770  0.0698     0.3796  1.9566    0.7822
9               8.0  2.7058  14.7069  0.0025     0.0135  1.9697    0.7720
10              9.0  2.6064  14.1668  0.0191     0.1038  1.9099    0.7885

In [12]:
d_ann_test

   model_identifier   _rmse   _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  2.2355  12.3938 -0.1495    -0.8289  1.7141    0.8151
1               0.0  2.3790  13.1895 -0.2876    -1.5947  1.8166    0.7906
2               1.0  2.3404  12.9755  0.0566     0.3140  1.8218    0.7974
3               2.0  2.2989  12.7453 -0.2074    -1.1497  1.7537    0.8045
4               3.0  2.3270  12.9010 -0.2017    -1.1183  1.8073    0.7997
5               4.0  2.2764  12.6207 -0.1919    -1.0637  1.7557    0.8083
6               5.0  2.3532  13.0465 -0.1777    -0.9852  1.8343    0.7951
7               6.0  2.3035  12.7707 -0.0432    -0.2394  1.7766    0.8037
8               7.0  2.3659  13.1165 -0.0937    -0.5192  1.8354    0.7929
9               8.0  2.3504  13.0310 -0.1681    -0.9322  1.7773    0.7956
10              9.0  2.2891  12.6910 -0.1805    -1.0008  1.7540    0.8061

In [11]:
d_ann_test[d_ann_test.model_identifier != 'ensemble'].describe()

           _rmse     _rrmse      _bias  _bias_pct        mae   r2_score
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    2.328380  12.908770  -0.149520  -0.828920   1.793270   0.799390
std     0.034881   0.193384   0.097718   0.541863   0.033443   0.006012
min     2.276400  12.620700  -0.287600  -1.594700   1.753700   0.790600
25%     2.300050  12.751650  -0.199250  -1.104650   1.760925   0.795225
50%     2.333700  12.938250  -0.179100  -0.993000   1.792300   0.798550
75%     2.352500  13.042625  -0.112300  -0.622450   1.820500   0.804300
max     2.379000  13.189500   0.056600   0.314000   1.835400   0.808300

# Basal area (g)

In [13]:
g_ann_val = pd.read_csv(basepath/'g/ann_val.csv')
g_ann_test = pd.read_csv(basepath/'g/ann_test.csv')

In [14]:
g_ann_val

   model_identifier   _rmse   _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  3.8741  20.2211  0.6591     3.4402  2.7869    0.7995
1               0.0  3.9926  20.8398  0.7259     3.7888  2.9671    0.7871
2               1.0  4.0454  21.1152  0.6001     3.1325  2.8642    0.7814
3               2.0  4.1073  21.4382  0.6872     3.5866  2.9336    0.7747
4               3.0  4.0090  20.9255  0.5693     2.9714  2.9003    0.7853
5               4.0  4.0166  20.9649  0.7451     3.8894  2.9378    0.7845
6               5.0  4.0432  21.1036  0.7395     3.8599  2.8744    0.7817
7               6.0  4.2050  21.9480  0.8122     4.2391  2.9767    0.7638
8               7.0  3.9409  20.5697  0.3739     1.9515  2.8567    0.7926
9               8.0  4.0180  20.9721  0.5659     2.9540  2.8896    0.7844
10              9.0  3.9661  20.7014  0.7720     4.0293  2.9883    0.7899

In [15]:
g_ann_test

   model_identifier   _rmse   _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  3.4220  17.4555  0.1128     0.5755  2.5767    0.8538
1               0.0  3.6150  18.4400  0.2089     1.0658  2.7287    0.8368
2               1.0  3.6757  18.7499  0.1227     0.6259  2.7136    0.8313
3               2.0  3.4895  17.8002  0.0859     0.4381  2.6056    0.8479
4               3.0  3.5704  18.2128 -0.0767    -0.3911  2.7278    0.8408
5               4.0  3.8345  19.5596  0.2254     1.1496  2.8581    0.8164
6               5.0  3.5756  18.2393  0.1319     0.6726  2.6977    0.8403
7               6.0  3.3947  17.3166  0.2668     1.3609  2.5606    0.8561
8               7.0  3.6633  18.6863 -0.1303    -0.6647  2.7330    0.8324
9               8.0  3.5687  18.2041  0.2088     1.0650  2.6213    0.8409
10              9.0  3.6123  18.4264  0.0849     0.4330  2.7263    0.8370

In [16]:
g_ann_test[g_ann_test.model_identifier != 'ensemble'].describe()

           _rmse     _rrmse      _bias  _bias_pct        mae   r2_score
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean    3.599970  18.363520   0.112830   0.575510   2.697270   0.837990
std     0.116387   0.593560   0.129880   0.662488   0.083683   0.010501
min     3.394700  17.316600  -0.130300  -0.664700   2.560600   0.816400
25%     3.569125  18.206275   0.085150   0.434275   2.640400   0.833500
50%     3.593950  18.332850   0.127300   0.649250   2.719950   0.838650
75%     3.651225  18.624725   0.208875   1.065600   2.728475   0.840875
max     3.834500  19.559600   0.266800   1.360900   2.858100   0.856100

# Mean height (h)

In [17]:
h_ann_val = pd.read_csv(basepath/'h/ann_val.csv')
h_ann_test = pd.read_csv(basepath/'h/ann_test.csv')

In [18]:
h_ann_val

   model_identifier   _rmse  _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  1.1110  7.4351  0.0274     0.1832  0.8578    0.9378
1               0.0  1.2236  8.1881  0.0337     0.2254  0.9550    0.9246
2               1.0  1.1935  7.9870  0.0084     0.0562  0.9143    0.9282
3               2.0  1.1632  7.7839  0.1127     0.7544  0.9052    0.9318
4               3.0  1.2223  8.1797  0.0580     0.3878  0.9466    0.9247
5               4.0  1.1909  7.9696  0.0527     0.3527  0.9262    0.9285
6               5.0  1.1520  7.7091 -0.1548    -1.0360  0.8940    0.9331
7               6.0  1.1663  7.8051 -0.0029    -0.0195  0.8998    0.9314
8               7.0  1.1415  7.6391  0.0591     0.3956  0.8594    0.9343
9               8.0  1.2158  8.1359  0.1167     0.7812  0.9465    0.9255
10              9.0  1.1480  7.6826 -0.0098    -0.0657  0.8702    0.9336

In [20]:
h_ann_test

   model_identifier   _rmse  _rrmse   _bias  _bias_pct     mae  r2_score
0          ensemble  1.0771  7.3321 -0.0381    -0.2597  0.8313    0.9288
1               0.0  1.1348  7.7253 -0.0531    -0.3617  0.9037    0.9210
2               1.0  1.1885  8.0908 -0.1335    -0.9085  0.8952    0.9133
3               2.0  1.1802  8.0338  0.0525     0.3573  0.8978    0.9146
4               3.0  1.1098  7.5548  0.0147     0.1000  0.8469    0.9244
5               4.0  1.1635  7.9207 -0.0286    -0.1944  0.9090    0.9170
6               5.0  1.0965  7.4646 -0.1531    -1.0423  0.8491    0.9262
7               6.0  1.1372  7.7412 -0.0737    -0.5019  0.8857    0.9207
8               7.0  1.1417  7.7722  0.0548     0.3729  0.8670    0.9200
9               8.0  1.1765  8.0090  0.0128     0.0872  0.8983    0.9151
10              9.0  1.1673  7.9465 -0.0743    -0.5055  0.9142    0.9164

In [21]:
h_ann_test[h_ann_test.model_identifier != 'ensemble'].describe()

           _rmse     _rrmse      _bias  _bias_pct        mae   r2_score
count  10.000000  10.000000  10.000000   10.00000  10.000000  10.000000
mean    1.149600   7.825890  -0.038150   -0.25969   0.886690   0.918870
std     0.030765   0.209407   0.072600    0.49416   0.024174   0.004302
min     1.096500   7.464600  -0.153100   -1.04230   0.846900   0.913300
25%     1.135400   7.729275  -0.074150   -0.50460   0.871675   0.915425
50%     1.152600   7.846450  -0.040850   -0.27805   0.896500   0.918500
75%     1.174200   7.993375   0.014225    0.09680   0.902350   0.920925
max     1.188500   8.090800   0.054800    0.37290   0.914200   0.926200

# Total volume (v)

In [22]:
v_ann_val = pd.read_csv(basepath/'v/ann_val.csv')
v_ann_test = pd.read_csv(basepath/'v/ann_test.csv')

In [23]:
v_ann_val

   model_identifier    _rmse   _rrmse   _bias  _bias_pct      mae  r2_score
0          ensemble  35.2583  23.3857  6.2807     4.1658  23.0157    0.8634
1               0.0  38.6728  25.6504  5.8278     3.8654  24.9099    0.8357
2               1.0  38.6372  25.6268  5.0675     3.3611  25.6969    0.8360
3               2.0  39.8395  26.4242  6.5139     4.3205  24.6709    0.8256
4               3.0  37.8333  25.0936  5.1464     3.4135  25.0446    0.8427
5               4.0  36.0203  23.8911  7.5113     4.9820  24.4420    0.8574
6               5.0  38.2328  25.3586  5.2304     3.4692  25.5640    0.8394
7               6.0  34.6131  22.9578  8.8242     5.8528  23.8259    0.8684
8               7.0  36.8656  24.4518  6.9522     4.6111  25.0470    0.8507
9               8.0  35.3426  23.4416  5.9860     3.9703  23.9851    0.8627
10              9.0  36.1276  23.9623  5.7475     3.8122  23.9793    0.8566

In [24]:
v_ann_test

   model_identifier    _rmse   _rrmse   _bias  _bias_pct      mae  r2_score
0          ensemble  33.3231  21.9211  1.0832     0.7125  22.6215    0.8820
1               0.0  33.8145  22.2444 -0.0811    -0.0534  23.2875    0.8785
2               1.0  35.5302  23.3730  0.3591     0.2363  25.0176    0.8659
3               2.0  34.9061  22.9625  0.8709     0.5729  23.4154    0.8705
4               3.0  35.5618  23.3938  0.4093     0.2693  24.9411    0.8656
5               4.0  34.6629  22.8025  2.6875     1.7679  23.8361    0.8723
6               5.0  37.8926  24.9271 -0.2759    -0.1815  24.7307    0.8474
7               6.0  35.6897  23.4780  2.6612     1.7506  24.6562    0.8646
8               7.0  35.6261  23.4361  3.3988     2.2359  25.2803    0.8651
9               8.0  34.2241  22.5138  0.0288     0.0190  23.2982    0.8755
10              9.0  36.3401  23.9058  0.7731     0.5086  24.8782    0.8597

In [25]:
v_ann_test[v_ann_test.model_identifier != 'ensemble'].describe()

           _rmse     _rrmse      _bias  _bias_pct        mae   r2_score
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean   35.424810  23.303700   1.083170   0.712560  24.334130   0.866510
std     1.152421   0.758101   1.327490   0.873264   0.785173   0.008771
min    33.814500  22.244400  -0.275900  -0.181500  23.287500   0.847400
25%    34.723700  22.842500   0.111375   0.073325  23.520575   0.864725
50%    35.546000  23.383400   0.591200   0.388950  24.693450   0.865750
75%    35.673800  23.467525   2.213625   1.456175  24.925375   0.871850
max    37.892600  24.927100   3.398800   2.235900  25.280300   0.878500